body {
    font-family: Arial, sans-serif;
    margin: 5%;
    padding: 0;
    background-image:url(imagens/capa-pg.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10px;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.container {
    max-width: 400px;
    margin: 210px auto;
    padding: 50px;
    background-color: #942c58;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centralizado {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

h1 {
    text-align: center;
}

.add-product label {
    display: block;
    margin-bottom: 5px;
}

.add-product input {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
}

.add-product button {
    background-color: #ccd3d3;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;                   
    border-radius: 4px;
    cursor: pointer;
}

.add-product button:hover {
    background-color: #45a049;
}
